<h1>Hello there you are in the bookmarks page</h1>

<form action="/bookmarks" method="post">
  <input type="text" placeholder="enter Title" name="title" />
  <input type="text" placeholder="enter URL" name="url" />
  <input type="submit" value="Submit" />
</form>

<ul><%@bookmarks.each do |bookmarks|%>
    <li class="bookmark" id="bookmark-<%=bookmarks.id%>" >
      <form action="/bookmarks/<%=bookmarks.id%>" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <input type="submit" value="Delete"/>
        <a href="<%=bookmarks.url%>"><%=bookmarks.title%></a>
      </form>

    </li>
    <%end%>
</ul>
