<h1>Hello there you are in edit bookmarks page</h1>

<form action="/bookmarks/<%=params[:id]%>" method="post">
  <input type="hidden" name="_method" value="patch"/>
  <input type="text" placeholder="enter Title" name="title" />

  <input type="submit" value="Submit" />
</form>